<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title><{$categoryname}></title>
</head>

<body>
<{getitems bandindex="1" category=$category page=$page orderby="id_reverse" num="20" template="<a href=()[url]()>[title]</a><br>"}><br><br>
<{getindexs page=$page template="<a href=()index-1.htm()>第一页</a> [indexs]<a href=()index-[last].htm()>最后一页</a>" linktemplate="[link] " baseurl="index-[page].htm"}>
<hr>
更多演示，请访问在线手册：<a href="http://www.akcms.com/manual/manual.htm" target="_blank">http://www.akcms.com/manual/manual.htm</a>
</body>
</html>