<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<table cellspacing="0" cellpadding="0" width="700" align="center" class="commontable">
<tr>
	<td>
	<table border="0" cellspacing="1" cellpadding="4" width="100%">
		<tr class="header">
			<td colspan="3"><{$lan.preview}></td>
		</tr>
<{foreach from=$result key=key item=item}>
<tr><td><{$lan.$key}></td></tr>
<tr><td><{$item}>&nbsp;</td></tr>
<{/foreach}>
	</table>
	</td>
</tr>
</table>
</body>
</html>