<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
<script>
function delcategory() {
	if(confirm('<{$lan.suredelpage}>')) {
		document.location = "admincp.php?action=deletecategory&id=<{$id}>";
	}
}
</script>
<script language="javascript" src="include/common.js"></script>
</head>
<body>
<div class="block"></div>
<div class="block"></div>
<table width="99%" border="0" align="center" cellpadding="5" cellspacing="1" class="commontable">
<form action="admincp.php?action=editcategory&id=<{$id}>" method="post" name="categoryedit">
<tr class="header">
	<td colspan="10"><{$lan.category_edit}></td>
</tr>
<tr>
	<td width="100"><{$lan.category_name}></td>
	<td><input type="text" name="category" value="<{$category}>" class="mustoffer" onfocus="must(this)">&nbsp;<input type="button" value="<{$lan.delete}>" name="delete" class="alert" onclick="delcategory()"></td>
</tr>
<tr>
	<td><{$lan.alias}></td>
	<td><input type="text" name="alias" value="<{$alias}>"></td>
</tr>
<tr>
	<td><{$lan.categoryup}></td>
	<td>
		<select name="categoryup">
			<option value="0"><{$lan.rootcategory}></option>
		<{$selectcategories}>
		</select>
	</td>
</tr>
<script language="javascript">
document.categoryedit.categoryup.value = <{$categoryup}>;
</script>
<tr>
	<td><{$lan.description}></td>
	<td><textarea name="description" cols="80" rows="3"><{$description}></textarea></td>
</tr>
<tr>
	<td><{$lan.keywords}></td>
	<td><textarea name="keywords" cols="80" rows="3"><{$keywords}></textarea></td>
</tr>
<tr>
	<td><{$lan.order}></td>
	<td><input type="text" name="order" value="<{$orderby}>"></td>
</tr>
<tr>
	<td><{$lan.path}></td>
	<td><input type="text" name="path" value="<{$path}>"></td>
</tr>
<tr>
	<td><{$lan.itemtemplate}></td>
	<td>
	<select name="itemtemplate">
	<option value=""><{$lan.default}></option>
	<{$selectitemtemplates}>
	</select>
	</td>
</tr>
<tr>
	<td><{$lan.defaulttemplate}></td>
	<td>
	<select name="defaulttemplate">
	<option value=""><{$lan.default}></option>
	<{$selecttemplates}>
	</select>
	</td>
</tr>
<tr>
	<td><{$lan.listtemplate}></td>
	<td>
	<select name="listtemplate">
	<option value=""><{$lan.default}></option>
	<{$selecttemplates}>
	</select>
	</td>
</tr>
<script>
document.categoryedit.itemtemplate.value = "<{$itemtemplate}>";
document.categoryedit.defaulttemplate.value = "<{$defaulttemplate}>";
document.categoryedit.listtemplate.value = "<{$listtemplate}>";
</script> 
<tr>
	<td><{$lan.ifcreatehtml}></td>
	<td>
		<input type="radio" name="html" value="0"<{if $html eq 0}> checked<{/if}>><{$lan.withglobal}>
		<input type="radio" name="html" value="1"<{if $html eq 1}> checked<{/if}>><{$lan.yes}>
		<input type="radio" name="html" value="-1"<{if $html eq -1}> checked<{/if}>><{$lan.no}>
<script language="javascript">
document.categoryedit.html.value = "<{$html}>";
</script>
	</td>
</tr>
<tr>
	<td><{$lan.ifusefilename}></td>
	<td>
		<input type="radio" name="usefilename" value="0"<{if $usefilename eq 0}> checked<{/if}>><{$lan.withglobal}>
		<input type="radio" name="usefilename" value="1"<{if $usefilename eq 1}> checked<{/if}>><{$lan.yes}>
		<input type="radio" name="usefilename" value="-1"<{if $usefilename eq -1}> checked<{/if}>><{$lan.no}>
<script language="javascript">
document.categoryedit.usefilename.value = "<{$usefilename}>";
</script>
	</td>
</tr>
<tr>
	<td><{$lan.storemethod}></td>
	<td><input type="text" value="<{$storemethod}>" name="storemethod" size="50"><br>
	(<{$lan.leaveempty}>:"<{$setting_storemethod}>"&nbsp;<a href="setting.php?action=generally"><{$lan.modifyglobalsetting}></a>)<br>
	<{$lan.storemethod_description}></td>
</tr>
<script language="javascript">
document.categoryedit.storemethod.value = "<{$storemethod}>";
</script>
<tr>
	<td><{$lan.categoryhomemethod}></td>
	<td><input type="text" value="" name="categoryhomemethod" size="50"><br>
	(<{$lan.leaveempty}>:"<{$setting_categoryhomemethod}>"&nbsp;<a href="setting.php?action=generally"><{$lan.modifyglobalsetting}></a>)<br>
	<{$lan.categoryhomemethod_description}></td>
</tr>
<script language="javascript">
document.categoryedit.categoryhomemethod.value = "<{$categoryhomemethod}>";
</script>
<tr>
	<td><{$lan.categorypagemethod}></td>
	<td><input type="text" value="" name="categorypagemethod" size="50"><br>
	(<{$lan.leaveempty}>:"<{$setting_categorypagemethod}>"&nbsp;<a href="setting.php?action=generally"><{$lan.modifyglobalsetting}></a>)<br>
	<{$lan.pagemethod_description}></td>
</tr>
<script language="javascript">
document.categoryedit.pagemethod.value = "<{$pagemethod}>";
</script>
<tr>
	<td><{$lan.relateforum}></td>
	<td>
		<{$forum_select}>
	</td>
</tr>
<script>
document.categoryedit.fid.value = "<{$fid}>";
</script>
<{if $forbidautorefresh eq 0}>
			<tr>
				<td><{$lan.timing}></td>
				<td>
<table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td colspan="2" bgcolor="#EFEFEF"><input type="radio" name="type" value="0"<{if $type eq 0}> checked<{/if}>><{$lan.notiming}></td>
  </tr>
  <tr>
    <td colspan="1" bgcolor="#FFFFFF" width="270"><input type="radio" name="type" value="1"<{if $type eq 1}> checked<{/if}>><{$lan.everyday}><br>
    	<input type="radio" name="type" value="2"<{if $type eq 2}> checked<{/if}>><{$lan.date}>&nbsp;
    		<select name="date">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select><br>
    	<input type="radio" name="type" value="3"<{if $type eq 3}> checked<{/if}>><{$lan.timingday}><select name="day">
    		<{foreach key=key item=item from=$lan.weekdays}>
			<option value="<{$key}>"><{$item}></option>
		<{/foreach}>
		</select><br></td>
		<td bgcolor="#FFFFFF">
			<{$lan.timinghour}><input type="text" name="hour" size="3" value="<{$hour}>">(0-23)&nbsp;<br><{$lan.timingminute}><input type="text" name="minute" size="3" value="<{$minute}>">(0-59)
		</td>
  </tr>
  <script language="javascript">
  	document.categoryedit.type.value = '<{$type}>';
  	document.categoryedit.date.value = '<{$date}>';
  	document.categoryedit.day.value = '<{$day}>';
  </script>
  <tr>
    <td colspan="2" bgcolor="#EFEFEF"><input type="radio" name="type" value="4"<{if $type eq 4}> checked<{/if}>><{$lan.timingdistance}><input type="text" name="distance" size="5" value="<{$distance}>">(1-65535)</td>
  </tr>
</table></td>
			</tr>
<{/if}>
<tr>
	<td colspan="10" align="center"><input type="submit" value="<{$lan.save}>" name="category_edit_submit"></td>
</tr>
</form>
</table>
</body>
</html>