*{font-size:12px;font-family:Verdana;font-weight:normal;margin:0px;text-decoration:none;}
body{background-color:#9EB6D8;margin:0px;padding:0px;border:0px;overflow-x:hidden;scrollbar-base-color:#F8F8F8;scrollbar-arrow-color:#698CC3;}
b{font-weight:bold;}
a,a:visited{color:#003366}
a:hover{text-decoration:underline}
table{word-break:break-all;}
input{font-family:11px}
textarea{font-family:Courier New;}
form{margin:0px;border:0px;padding:0px;}

.mustoffer{background-color:#FFFFD0;background-image:url(mustoffer.gif);background-repeat:no-repeat;background-position:right top;}
.commontable{border:1px solid #6C8EC4;width:99%;overflow:hidden;padding:0px;margin:0px auto;}
.header{border:1px solid #D4E2EC;border-bottom:0px;font:11px Tahoma,Verdana;color:#FFFFFF;background-color:#698CC3;padding:5px;}
.header a,.header a:visited{color:#FFFFFF}
.content{background:#FFF;padding:5px;}
.mininum,.mininum *{font-size:9px;}

.block{display:block;height:3px;overflow:hidden;}
.block2{display:block;height:10px;overflow:hidden;}
#query_debug{border:1px dashed #222222;width:550px;margin:0px auto;font-family:Courier New;line-height:20px;background-color:#FFFFE0;padding:10px;text-align:left;}
.login{text-align:right;}

.bold{font-weight:bold}
.red{color:#FF0000}
.green{color:#336600}
.alert{color:#FF0000}
.righttop{float:right;}

//树形无限分类
#categoriestree{line-height:15px;color:red}
#categoriestree div img{margin:0px 3px;}
.layer_0,.layer_1,.layer_2,.layer_3,.layer_4,.layer_5,.layer_6,.layer_7,.layer_8,.layer_9,.layer_10{padding-left:30px;}