<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="block"></div>
<div class="block"></div>
<table width="99%" border="0" align="center" cellpadding="5" cellspacing="1" class="commontable">
	<tr class="header">
		<td colspan="5"><{$lan.tip}></td>
	</tr>
	<tr>
		<td colspan="5"><{$lan.howtousetheme}></td>
	</tr>
	<tr>
		<td colspan="5"><{$lan.downthemeinofficial}><br><a href="http://www.akcms.com/themes/" target="_blank">http://www.akcms.com/themes/</a></td>
	</tr>
</table>
<div class="block"></div>
<table width="99%" border="0" align="center" cellpadding="5" cellspacing="1" class="commontable">
	<tr class="header">
		<td colspan="5"><{$lan.availablethemes}></td>
	</tr>
	<{$themes}>
</table>
</body>
</html>