<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<title><{$sitename}> <{$lan.cp}></title>
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
</head>
<frameset rows="20,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="admincp.php?action=top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
<frameset cols="120,*" frameborder="no" border="0" framespacing="0">
  <frame src="admincp.php?action=menu" name="leftFrame" scrolling="Yes" noresize="noresize" id="leftFrame" />
  <frame src="<{$body_url}>" name="mainFrame" id="mainFrame" />
</frameset>
</frameset>
</html>