<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="block"></div>
<div class="block"></div>
<{$result}>
<table cellspacing="0" cellpadding="0" width="99%" align="center" class="commontable">
<tr>
	<td>
	<table border="0" cellspacing="1" cellpadding="4" width="100%">
		<tr class="header">
			<td colspan="3"><{$lan.runsql}></td>
		</tr>
		<tr>
		<form action="welcome.php?action=runsql" method="POST">
			<td align="center">
			<textarea name="sql" style="width:98%" rows="25"></textarea><br />
			<input type="submit" value="<{$lan.runsql}>">
			</td>
		</form>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>