<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>" />
<link href="<{$akurl}>images/admin/admin.css" rel="stylesheet" type="text/css">
<script language="javascript" src="include/common.js"></script>
</head>
<body>
<div class="block"></div>
<div class="block"></div>
<table cellspacing="0" cellpadding="0" width="98%" align="center" class="commontable">
<tr>
	<td>
	<table border="0" cellspacing="1" cellpadding="4" width="100%">
		<tr class="header">
			<td colspan="3"><div class="righttop"><a href="http://www.akcms.com/manual/spider.htm" target="_blank"><{$lan.help}></a></div><{$lan.spider_edit}>&nbsp;-&nbsp;<{$lan.import}></td>
		</tr>
		<tr>
			<td align="center">
			<form action="admincp.php?action=spiders&job=importspider" method="post">
			<textarea name="data" cols="100" rows="25" style="width:100%"></textarea>
			<input type="submit" value="<{$lan.save}>" name="submit">
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>